STRIPE_API_KEY=abc
STRIPE_WEBHOOK_ENDPOINT_SECRET=abc
PLATFORM_OPENAPI_URL=abc
REDIS_URL="redis://localhost:6379/1"
OPENMETER_HOST=abc
SECRET_KEY_BASE=xxxx
DATABASE_URL=postgres://postgres:postgres@localhost:5432/web3_dashboard
